<div class="wrapper">
    <div class="panel panel-hash">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-5">
                    <h5>Expense Details Report</h5>
                </div>
                <div class="col-md-7">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Expense Type: </label>
                        <div class="col-sm-9">
                            <select onchange="GetExpenseTypeWiseReport();" class="" id="ExpenseTypeId"
                                style="width: 100%;">
                                <option selected>All Expense</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body scroll panel-height">
            <table id="tblExpenseDetailsReport" class="BlueGreen" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Expense Type</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Total Price</th>
                        <th>Created Date</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<style>
    .panel-heading {
        padding: 0px 0px 0px 5px;
    }

    .panel-body {
        padding: 5px;
    }

    .h4 {
        margin-top: 1px;
        margin-bottom: 1px;
    }
</style>

<script src="~/js/ExpenseReport/ExpenseDetailsReport_Datatable.js"></script>

<script>
    $(document).ready(function () {
        $("#ExpenseTypeId").select2();
        DataTableCustomSearchBox('450px', 'Search Item');
        GetExpenseTypedlList();
    });

    var GetExpenseTypedlList = function () {
        $.ajax({
            type: "GET",
            url: "/ExpenseReport/GetExpenseTypedlList",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    var _ExpenseTypeId = document.getElementById("ExpenseTypeId");
                    var _option = document.createElement("option");
                    _option.text = data[i].Name;
                    _option.value = data[i].Id;
                    _ExpenseTypeId.add(_option);
                }
            },
            error: function (response) {
                SwalSimpleAlert(errormessage.responseText, "warning");
            }
        });
    };

    var GetExpenseTypeWiseReport = function () {
        var _ExpenseTypeId = $("#ExpenseTypeId").val();
        var _tblExpenseDetailsReport = $("#tblExpenseDetailsReport").DataTable();
        _tblExpenseDetailsReport.clear();
        _tblExpenseDetailsReport.destroy();
        if (_ExpenseTypeId == 'All Expense') {
            ExpenseDetailsDataTableLoad(false, 0);
        }
        else {
            ExpenseDetailsDataTableLoad(true, _ExpenseTypeId);
        }
        DataTableCustomSearchBox('450px', 'Search Item');
    }
</script>